.App {
  text-align: center;
}
.line{
  text-decoration: line-through;
}
.container{
  display: flex;
  justify-content: center;
  margin: 10px;
  text-align: center;
}
.button{
  padding: 5px;
  padding-right: 20px;
  margin-left:5px ;
  
}
